.banner {
    position: relative;
}

.banner .banner-img-wrapper {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.banner .banner-img {
    width: 100%;
}

.banner .banner-text-content {
    position: absolute;
    top: 160px;
    width: 100%;
    max-width: 444px;
    padding: 40px;
    background-color: var(--color-secondary);
    border-radius: 32px;
}

.banner .banner-heading {
    color: #222831;
    font-family: var(--inter-bold);
    font-size: 51px;
    font-weight: 700;
    line-height: 61.2px;
    letter-spacing: -1.02px;
    margin-bottom: 16px;
}

.banner .banner-subheading {
    color: #818181;
    font-family: var(--inter-regular);
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    margin-bottom: 32px;
}

.banner .banner-btns {
    display: flex;
}

.start-learning {
    text-decoration: none;
    padding: 16px 58.5px;
    color: var(--color-secondary);
    background-color: var(--accent-color-teal);
    border: 1px solid var(--accent-color-teal);
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    border-radius: 8px;
}

.learn-more {
    text-decoration: none;
    padding: 16px 68.5px;
    margin-left: 16px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    border-radius: 8px;
    color: var(--color-primary);
}

@media (max-width:835px) {
    .banner .banner-text-content {
        max-width: 300px;
    }

    .start-learning {
        padding: 16px 22.5px;
    }

    .learn-more {
        padding: 16px 32.5px;
    }

}

@media (max-width:526px) {
    .banner .banner-text-content {
        max-width: 318px;
        padding: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .banner .banner-heading {
        font-size: 20px;
        line-height: 24px;
    }

    .banner .banner-subheading {
        font-size: 12px;
        line-height: 16.8px;
    }

    .start-learning {
        padding: 16px 27px;
    }

    .learn-more {
        padding: 16px 37px;
    }
}