.collection {
    position: relative;
    padding: 120px 0;
}

.collection .section-heading,
.collection .section-description {
    text-align: center;
    color: var(--color-primary);
}

.collection .section-heading{
    font-family: var(--sans-bold);
}

.collection .section-description {
    color: #A8A29E;
    font-family: var(--sans-regular);
}

.collection .collection-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
}

.collection .box {
    margin: 12px;
    flex: 1 0 30.33%;
    overflow: hidden;
}

.collection .collection-img {
    height: auto;
    object-fit: cover;
    object-position: center;
}

.collection .collection-text {
    padding: 16px;
}

.collection .collection-heading {
    color: #1C1917;
    text-overflow: ellipsis;
    font-family: var(--sans-bold);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.collection .collection-description {
    color: #1C1917;
    text-overflow: ellipsis;
    font-family: var(--sans-regular);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}


@media (max-width:835px) {

    .collection .box:nth-child(3),
    .collection .box:nth-child(6),
    .collection .box:nth-child(9) {
        flex: 1 0 90%;
    }

}

@media (max-width:526px) {
    .collection .box {
        flex: 1 0 90%;
    }

    .collection .collection-img {
        width: 100%;
    }
}