.data {
    position: relative;
    padding: 10rem 0;
}

.data .section-heading,
.data .section-description {
    text-align: center;
}

.data .section-heading{
    font-family: var(--inter-bold)
}

.data .section-description {
    font-family: var(--inter-regular);
    font-size: 0.875rem;
    color: #818181;
    line-height: 1.3125rem;
    margin-bottom: 2.5rem;
}

.data .data-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -1.25rem;
}

.data .data-card {
    display: flex;
    overflow: hidden;
    margin: 1.25rem;
    width: 100%;
    max-width: 23.3125rem;
    cursor: pointer;
    transition: var(--transition-default);
    border-radius: 0.5rem;
}

.data .data-card:hover{
    box-shadow: 0.4375rem 0.625rem 3.125rem 0rem #E8E2F0;
}

.data .data-card-text{
    margin-left: 1rem;
    
}

.data .card-heading {
    color: #222831;
    text-overflow: ellipsis;
    font-family: var(--inter-bold);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.575rem;
    margin-bottom: 0.5rem;
}

.data .data-subheading {
    color: #818181;
    text-overflow: ellipsis;
    font-family: var(--inter-regular);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem;
}

@media (max-width:32.875rem) {
    .data{
        padding: 3.4375rem 0;
    }
}