.data {
    position: relative;
    padding: 160px 0;
}

.data .section-heading,
.data .section-description {
    text-align: center;
}

.data .section-description {
    font-size: 14px;
    color: #818181;
    line-height: 21px;
    margin-bottom: 40px;
}

.data .data-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -20px;
}

.data .data-card {
    display: flex;
    overflow: hidden;
    margin: 20px;
    width: 100%;
    max-width: 373px;
    cursor: pointer;
    transition: var(--transition-default);
    padding: 15px 2px;
    border-radius: 8px;
}

.data .data-card:hover{
    box-shadow: 7px 10px 50px 0px #E8E2F0;
}

.data .data-card-text{
    margin-left: 16px;
    
}

.data .card-heading {
    color: #222831;
    text-overflow: ellipsis;
    font-family: var(--inter-bold);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.2px;
    margin-bottom: 8px;
}

.data .data-subheading {
    color: #818181;
    text-overflow: ellipsis;
    font-family: var(--inter-regular);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}