footer {
    position: relative;
    padding: 3rem 0;
}

footer .footer-wrapper {
    position: relative;
    display: flex;
}

footer .footer-left,
footer .footer-right {
    flex: 1;
}

footer .footer-brand-logo {
    margin-bottom: 1.5rem;
}

footer .footer-slogan {
    color: #1C1917;
    font-family: var(--sans-regular);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.575rem;
}

footer .footer-right-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -1.25rem;
}

footer .footer-list {
    width: 100%;
    max-width: 10.8125rem;
    margin: 1.25rem;
}

footer .footer-header {
    color: #1C1917;
    font-family: var(--sans-regular);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.3125rem;
    margin-bottom: 1rem;
}

footer .footer-link {
    text-decoration: none;
    display: flex;
    color: #A8A29E;
    font-family: var(--sans-regular);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3125rem;
    margin-bottom: 1rem;
    transition: var(--transition-default);
}

footer .footer-link:hover{
    color: var(--color-primary);
    font-family: var(--sans-bold);
}

footer .bottom-text {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 0.0625rem solid #E7E5E4;
}

footer .copyright {
    color: #A8A29E;
    font-family: var(--sans-regular);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.2rem;
}

footer .bottom-links {
    display: flex;
}

footer .bottom-links>a {
    text-decoration: none;
    display: block;
    color: #1C1917;
    font-family: var(--sans-regular);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem;
}

footer .bottom-links>a:last-child {
    margin-left: 1rem;
}

@media (max-width:32.875rem) {
    footer .footer-wrapper {
        flex-direction: column;
    }

    footer .footer-left {
        margin-bottom: 3.5rem;
    }

    footer .footer-right-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
    }

    footer .footer-list {
        width: 100%;
        max-width: 10.8125rem;
        margin: 1.25rem 0;
    }

    footer .bottom-text {
        flex-direction: column;
    }

    footer .bottom-links {
        display: flex;
        margin-top: 0.625rem;
    }


}