header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-secondary);
    z-index: 10;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .hamburger-menu {
    display: none;
}

header aside {
    display: none;
    z-index: 10;
}

header .logo {
    width: 100%;
    max-width: 187px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 17px 0;
}

header .brand-logo {
    object-fit: cover;
    object-position: center;
    display: block;
}

header .nav-list {
    display: flex;
    align-items: center;
}

header .nav-item {
    padding: 8px 0;
    margin-right: 12px;
}

header .nav-item:last-child {
    margin-right: 0;
}

header .nav-link {
    position: relative;
    text-decoration: none;
    padding: 12px 16px;
    color: var(--color-primary);
    font-family: var(--sans-bold);
    font-size: 12px;
    font-weight: 600;
    line-height: 19.2px;
}

header .nav-link::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: var(--color-primary);
    width: 0;
    transition: var(--transition-default);
}

header .nav-link:hover::after {
    width: 100%;
}

header .btn:hover::after {
    content: none;
}

header .nav-btn {
    padding: 12px 24px;
}

header .join-btn {
    background-color: var(--accent-color-pink);
    color: var(--color-secondary);
    border-color: var(--accent-color-pink);
}

@media (max-width:768px) {
    header .nav-item {
        display: none;
    }

    header aside {
        display: block;
        position: fixed;
        top: 0;
        background-color: var(--bg-primary);
        height: 100%;
        width: 80%;
        transform: translateX(-100%);
        transition: all .3s ease-in-out;
        box-shadow: rgba(135, 135, 135, 0.2) 0rem 0.5rem 1.5rem;
    }

    header aside .mobile-nav-list {
        padding: 2.5rem 0.625rem;
    }

    header aside .mobile-nav-item {
        padding: 0.625rem 0;
    }

    header aside .mobile-nav-link {
        font-family: var(--font-regular);
        color: var(--color-primary);
        font-size: 1.25rem;
        text-decoration: none;
    }

    header .hamburger-menu {
        position: relative;
        height: 1.75rem;
        width: 1.75rem;
        display: flex;
        cursor: pointer;
    }

    header .menu-line {
        position: absolute;
        height: 0.125rem;
        background-color: var(--color-primary);
        transition: all .1s ease-in-out;
    }

    header .menu-line:first-child {
        right: 0.0625rem;
        width: 90%;
        top: 0.3125rem
    }

    header .menu-line:nth-child(2) {
        right: 0.0625rem;
        width: 50%;
        top: 0.625rem
    }

    header .menu-line:nth-child(3) {
        right: 0.0625rem;
        width: 90%;
        top: 0.9375rem
    }

    header .menu-line:last-child {
        right: 0.0625rem;
        width: 50%;
        top: 1.25rem
    }

    .cross .menu-line:nth-child(2),
    .cross .menu-line:last-child {
        display: none;
    }

    .cross .menu-line:first-child {
        width: 90%;
        left: 0.125rem;
        top: 0.75rem;
        transform: rotate(45deg);
    }

    .cross .menu-line:nth-child(3) {
        left: 0.125rem;
        width: 90%;
        top: 0.8125rem;
        transform: rotate(-45deg);
    }

    header .nav-list {
        display: none;
    }

}