.indoor {
    position: relative;
    background-color: #ECFDF5;
    padding: 7.5rem 0;
}

.indoor .indoor-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6.5625rem;
}

.indoor .indoor-left-content .indoor .indoor-right-content {
    flex: 1;
}

.indoor .indoor-text-content {
    width: 100%;
    max-width: 32.75rem;
}

.indoor .section-heading {
    color: #064E3B;
    font-family: var(--syne-bold);
}

.indoor .section-description {
    color: #059669;
    font-family: var(--sans-regular);
}

.see-collection-btn {
    padding: 1rem 6.0938rem;
    font-family: var(--sans-regular);
    color: var(--color-secondary);
    background-color: #65A30D;
    border-radius: 0.5rem;
    border-color: #ECFDF5;
    font-size: 1.125rem;
}

.see-collection-btn:hover {
    border-color: var(--color-primary);
}

.indoor .indoor-right-content {
    width: 100%;
    background-color: #DCFCE7;
    margin-left: 3rem;
    padding: 3rem;
    border-radius: 3rem;
}

.indoor .indoor-card {
    margin-bottom: 1.5rem;
}

.indoor .indoor-card:last-child {
    margin-bottom: 0;
}

.indoor .indoor-icon {
    margin-bottom: 0.5rem;
}

.indoor .card-title {
    color: #064E3B;
    text-overflow: ellipsis;
    font-family: var(--sans-bold);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.575rem;
    margin-bottom: 0.5rem;
}

.indoor .card-description {
    color: #059669;
    text-overflow: ellipsis;
    font-family: var(--sans-regular);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3125rem;
}

@media (max-width:64.0625rem) {
    .see-collection-btn {
        padding: 1rem 2.2188rem;
    }
}

@media (max-width:52.1875rem) {
    .indoor .indoor-wrapper {
        padding: 0;
    }
}

@media (max-width:49.3125rem) {
    .indoor .indoor-wrapper {
        flex-direction: column;
        padding: 0;
    }

    .see-collection-btn {
        width: 100%;
        margin-bottom: 1.875rem;
    }

    .indoor .indoor-right-content {
        padding: 0;
        border-radius: 0;
        margin-left: 0;
    }

    .indoor .indoor-card {
        margin-bottom: 1.5rem;
        padding: 1.5rem;
    }


}