.knowledge {
    position: relative;
    background-color: #222831;
    padding: 9rem 0;
}

.knowledge .section-heading,
.knowledge .section-description {
    color: var(--color-secondary);
    text-align: center;
}

.knowledge .section-heading{
    font-family: var(--inter-bold);
}

.knowledge .section-description{
    margin-bottom: 2.5rem;
    font-family: var(--inter-regular);
}

.knowledge .knowledge-gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
    justify-content: center;
}

.knowledge .knowledge-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 17.25rem;
    margin: 1rem;
    cursor: pointer;
}

.knowledge .knowledge-img-wrapper {
    width: 100%;
    max-width: 10rem;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: 100%;
}

.knowledge .avatar-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: var(--transition-default);
}

.knowledge .knowledge-card:hover .avatar-img{
    transform: scale(1.1);
}

.knowledge .card-name {
    color: #EEE;
    text-align: center;
    text-overflow: ellipsis;
    font-family: var(--inter-bold);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.575rem;
}

.knowledge .card-role {
    color: #FFF;
    text-align: center;
    font-family: var(--inter-regular);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3125rem;
}