.mobile-download {
    background-color: #222831;
    padding: 6.5rem 0;
}

.mobile-download .container {
    display: flex;
    justify-content: center;
}

.mobile-download .mobile-download-wrapper {
    display: flex;
    width: 100%;
    max-width: 64rem;
}

.mobile-download .mobile-img-wrapper {
    max-width: 30.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-download .mobile-img {
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
}

.mobile-download .mobile-download-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-left: 2.5rem;
}

.mobile-download .section-heading {
    color: #EEE;
    text-overflow: ellipsis;
    font-family: var(--sans-bold);
}

.mobile-download .section-description {
    color: #EEE;
    text-overflow: ellipsis;
    font-family: var(--sans-regular);
}

.mobile-download .download-options {
    display: flex;
}

.mobile-download .store-link {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.mobile-download .store-img {
    display: block;
    object-fit: cover;
    object-position: center;
}

.mobile-download .store-link:last-child {
    margin-left: 1rem;
}

@media (max-width:59.125rem) {

    .mobile-download .download-options {
        flex-direction: column;
    }

    .mobile-download .store-link:last-child {
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

@media (max-width:52.1875rem) {
    .mobile-download .mobile-img-wrapper {
        width: 100%;
        max-width: 26.25rem;
    }
}


@media (max-width:48.0625rem) {
    .mobile-download .mobile-download-wrapper {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .mobile-download .mobile-img-wrapper{
        margin-bottom: 1.875rem;
    }

    .mobile-download .mobile-download-content {
        margin-left: 0rem;
    }
}

@media (max-width:32.875rem) {
    .mobile-download .mobile-img {
        max-width: 17.25rem;
    }
}