.start-journey {
    position: relative;
}

.start-journey .journey-wrapper {
    display: flex;
}

.start-journey .journey-img-wrapper,
.start-journey .journey-content {
   flex: 1;
}


.start-journey .journey-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: auto;
}

.start-journey .journey-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3.625rem;
    background-color: #ECFDF5;
}

.start-journey .section-heading {
    color: #40513B;
    font-family: var(--inter-bold);
}

.start-journey .section-description {
    color: #6C8F70;
    font-family: var(--inter-regular);
}

.get-started-btn {
    padding: 1rem 8.0625rem;
    background-color: #815CCE;
    color: var(--color-secondary);
    border-radius: 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.575rem;
    border: 0.0625rem solid #815CCE;
}

.get-started-btn:hover {
    color: #40513B;
    border-color: #40513B;
}

@media (max-width:52.25rem) {
    .start-journey .journey-content {
        padding-left: 1rem;
    }
}

@media (max-width:48.0625rem) {
    .start-journey .journey-wrapper {
        flex-direction: column;
    }

    .get-started-btn{
        margin-bottom: 3.3125rem;
        padding: 1rem 6.25rem;
    }
}