html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {

    /* fonts */

    --sans-bold : 'WorkSans-Bold';
    --sans-regular : 'WorkSans-Regular';

    --inter-bold : 'Inter-Bold';
    --inter-regular : 'Inter-Regular';

    --syne-bold : 'Syne-Bold';

    /* font colors */
    --color-primary: #000000;
    --color-secondary: #FFF;
    --color-tertiary: #059669;

    /* background colors */
    --bg-primary: #ECFDF5;
    --bg-secondary: #064E3B;

    --accent-color-pink: #EC4899;
    --accent-color-teal: #008A90;

    --transition-default: all .3s ease-in-out;

}



.container {
    width: 100%;
    max-width: 78rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.btn {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--inter-regular);
    border-radius: 0.25rem;
    border: 0.0625rem solid var(--color-primary);
    cursor: pointer;
    transition: var(--transition-default);
    text-wrap: nowrap;
}

.btn:hover {
    background: transparent;
    color: var(--color-primary);
}

.section-heading {
    font-size: 3.1875rem;
    font-weight: 700;
    line-height: 3.825rem;
    letter-spacing: -0.0638rem;
    margin-bottom: 1rem;
}

.section-description {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.575rem;
    margin-bottom: 2rem;
}